Repository LLNL/repligit, pull requests merged in 2025-04, with the labels that each got.

#19 Drop requests as a dependency of repligit's synchronous implementation
  pyproject.toml
  spack.yaml
  spack/repo/packages/py-repligit/package.py
  src/repligit/client.py
  src/repligit/parse.py
Labels: dependencies

#20 asyncio: update iter_lines to follow sync method logic
  .github/workflows/ci.yml
  src/repligit/asyncio/parse.py
Labels: ci

#21 Improve the project README.md
  .github/workflows/ci.yml
  README.md
Labels: ci, docs

#22 ci: add publish workflow to push to pypi
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/requirements/publish.txt
  .gitignore
  pyproject.toml
Labels: ci, dependencies

#16 Add coverage check to PRs
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/requirements/unit-tests.txt
  .github/workflows/unit-tests.yml
Labels: ci, dependencies

#26 Fix Generator type hints for python 3.10 -> 3.12
  .github/workflows/unit-tests.yml
  spack.yaml
  src/repligit/parse.py
Labels: ci, dependencies

#27 Carry forward Spack package from builtin
  pyproject.toml
  spack/repo/packages/py-repligit/package.py
Labels: dependencies
