Repository LLNL/repligit, pull requests merged in 2025-03, with the labels that each got.

#8 Fix directory in style checks
  .flake8
  .github/workflows/style.yml
  .github/workflows/unit-tests.yml
  pyproject.toml
  src/repligit/__init__.py
Labels: ci, dependencies

#9 Replace black, isort, and flake8 with ruff
  .flake8
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  pyproject.toml
  spack.yaml
Labels: ci, dependencies

#14 ci: add codespell and decrease max line length
  .github/workflows/requirements/style.txt
  .github/workflows/style.yml
  README.md
  examples/git_mirror.py
  pyproject.toml
  spack.yaml
Labels: ci, dependencies, docs

#15 Add a spackage for repligit, setting up an internal repo
  .gitignore
  pyproject.toml
  spack.yaml
  spack/repo/packages/py-repligit/package.py
  spack/repo/repo.yaml
Labels: dependencies
